<h1>Edit Feed</h1>
<p>Edit a feed</p>

<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
  <div id="errorExplanation">
    <h2>Oops, <%= pluralize(@feed.errors.count, "error") %> errors:</h2>
    <ul>
    <% @feed.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


