<div id='lifemap'>
    <div id='content'>
        <div id='navigation-container'>
            <h1 id="navigation-header"><%= link_to "<", :maps %> <%= @map.title %></h1> 
            <div id='timeline-container'>
                <div id='timeline'>
                    <form id='timeline-select'>
                        <label for='year'>Year</label>
                        <select id='year' name='year'>
                            <option>Any</option>
                            <%= @years.each do |year| %>
                                <option><%= year %></option>
                            <% end %>
                        </select>
                        <label for='month'>Month</label>
                        <select id='month' name='month'>
                            <option>Any</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </form>
                </div>
            </div>
            <div id='navigation'>
                <ul id='navigation-items'></ul>
            </div>
        </div>
        <div id='mapcontainer'>
            <div id='map'></div>
        </div>
    </div>
</div>

<script type="text/javascript">
(function($) { 
    function resizeNav() {
        // Size the navigation to the map.
        var mapHeight = $("#mapcontainer").height();
        $("#navigation-container").css("height", mapHeight-2); // 1px border
    }
    $(window).load(function() {
        var map = new memento.Map(<%= @map_json %>);
        new memento.HomeController({ map: map });
        Backbone.history.start();
        resizeNav();
    });
    $(window).resize(function() {
        resizeNav();
    });
})(jQuery);
</script>

