<html>
<head>
  <title>Memento</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.3&sensor=false',
      'ckeditor/ckeditor.js', 'underscore.js', 'json2.js', 'backbone.js', 'map.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>

</body>
</html>
